<h1>Stupid Coaching</h1>
<p></p>

<div class="question">
  <p><%= @question %></p>
  <p><em>-You</em></p>
</div>

<br>
<br>

<div class="coach-answer">
  <a><strong><%= @answer %></strong></a>
  <br>
  <br>
  <a><em>-Your coach</em></a>
</div>

<p><%= link_to "Ask a new question", "http://localhost:3000/ask" %></p>




